@import './asset/style/_header.scss';
@import './asset/style/contentname';
@import './asset/style/roomstyle';
@import './asset/style/contenttigastyle';
@import './asset/style/diningstyle';
@import './asset/style/meetingstyle';
@import './asset/style/newsstyle';
@import './asset/style/footerstyle';







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  // background: #eee;
}


body {
  background: #282c34;
}
$color-primary:#ffffff;
$sub-color:#282c34;











/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
